<div class="about" style="text-align: center; padding: 50px">
  <div class="about">
    <h1>About Us</h1>
  </div>
  <div class="home">
    <button type="submit" style="border: none; background: transparent" (click)="sub()">
      Home
    </button>
    <i class="fa fa-arrow-right"> About Us</i>
  </div>
</div>

<div>
  <div class="para" style="display: flex; width: 100%">
    <div class="head" style="width: 50%; padding: 20px 80px">
      <h1 style="font-size: 45px">Welcome To Sona.</h1>
      <p style="font-size: 20px">
        Built in 1910 during the Belle Epoque period, this hotel is located in
        the center of Paris, with easy access to the city’s tourist attractions.
        It offers tastefully decorated rooms.
      </p>
    </div>
    <div class="list" style="width: 50%; padding: 20px 80px">
      <ul>
        <li>
          <i class="fa fa-check">20% Off On Accommodation.</i>
        </li>
        <li>
          <i class="fa fa-check"> Complimentary Daily Breakfast</i>
        </li>
        <li>
          <i class="fa fa-check"> 3 Pcs Laundry Per Day</i>
        </li>
        <li>
          <i class="fa fa-check">Free Wifi</i>
        </li>
        <li>
          <i class="fa fa-check">Discount 20% On F&B</i>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="conatiner mx-auto">
          <img src="../../assets/hotelouter1.jpg" class="img-fluid rounded" alt="" />
        </div>
        <div class="img-text text-center">
          <h1>Restaurants Services</h1>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="conatiner mx-auto">
          <img src="../../assets/hotelouter2.jpg" class="img-fluid rounded" alt="" />
        </div>
        <div class="img-text text-center">
          <h1>Travel & Camping</h1>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="conatiner mx-auto">
          <img src="../../assets/hotelouter3.jpg" class="img-fluid rounded" alt="" />
        </div>
        <div class="img-text text-center">
          <h1>Event & Party</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<div class="bac">
  <section class="playsec">
    <h1 class="text">Discover Our Hotel & Services.</h1>
    <p class="one">
      It S Hurricane Season But We Are Visiting Hilton Head Island
    </p>
    <div class="icon">
      <a
        href="http://youtu.be/kWHbyYpZXJA"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa fa-play"></i>
      </a>
    </div>
  </section>
</div>

<div class="disc" style="padding: 20px; text-align: center">
  <p style="padding-top: 30px">Our Gallery</p>
  <h1>Discover Our Work</h1>
</div>

<div class="container">
  <div class="row">

    
    <div class="col-lg-6 mb-3">

      <img src="../../assets/Interior1.jpg" alt="" class="img-fluid " class="img1 rounded"/>
      <div class="texthover">
        Room Luxury
      </div>
      <div class="row">
        <div class="col-lg-6 mb-3 col-sm-6">
          <img src="../../assets/Interior2.jpg" alt="" class="img-fluid " class="img2 rounded"/>
          <div class="texthover">
            Room Luxury
          </div>
        </div>
        <div class="col-lg-6 mb-3 col-sm-6">
          <img src="../../assets/Interior3.jpg" alt="" class="img-fluid " class="img3 rounded"/>
          <div class="texthover">
            Room Luxury
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <img src="../../assets/Interior4.jpg" alt="" class="img-fluid " class="img4 rounded"/>
      <div class="texthoverlast">
        Room Luxury
      </div>
    </div>
  </div>
</div>
